<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container bg-image">
    <header><%- include('../partials/header'); %></header>

    <main class="main-container">
        <div class='row'>
            <h2 class="text-center">
                Error: <%= err.status %>
            </h2>
            <h3 class="text-center">
                <%= err.messsage %>
            </h3>
            <p class="text-center">
                Match not found
            </p>
            <div class="i-frame">
                <iframe src="https://www.youtube.com/embed/3ElXGllTpp0?start=17"
                    style="border-style: none;width: 100%; height: 720px;"
                    title=" Universe $6,000,000 Echo Slam Dunk Dota 2 TI5" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    </script>
</body>

</html>