<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header><%- include('../partials/header'); %></header>

    <main class="main-container">
        <div class='align-items-center'>

            <!-- Attempting to display data from db on html page -->
            <h2 class="test-center">
                Error: <%= err.status %>
            </h2>
            <h3 class="test-center">
                <%= err.messsage %>
            </h3>
            <p class="test-center">
                Match not found
            </p>
        </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    </script>
</body>

</html>