<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>

	<body class="container bg-image" id="body-light">
		<header><%- include('../partials/header'); %></header>

		<main class="main-container" id="main-light">
			<div class="container main-container-border">
				<div class="row border-bottom border-secondary">
					<%- include('../partials/currentDate'); %>
					<div class="col d-flex justify-content-end">
						<div class="d-flex light-mode-text main-text mt-1 mb-1 align-items-center justify-content-center">
							Light/Dark Mode
							<input class="align-items-center mt-1 mb-1 ms-2" type="checkbox" name="" id="darkmode-toggle" checked />
						</div>
					</div>
				</div>
				<div class="row">
					<% results.forEach(entry=> { %>
					<div class="container">
						<!-- Place holder for tournament name -->
						<!-- <div class="row justify-content-center">
							<h6 class="main-text m-0 p-0">Tournament: <%# entry.tournament_name %></h6>
						</div> -->

						<div class="row align-items-center border-bottom border-secondary row-hover">
							<div class="col team-icons justify-content-center">
								<img src="<%= entry.team_one_info.logo_url %>" alt="<%= entry.team_one %>" />
							</div>
							<div class="col text-center main-text team-font">
								<!-- Add color scheme as seen in single match page for if we want to go with that style -->
								<!-- <div style="color: #009ef2"></div> -->
								<%= entry.team_one %>
							</div>
							<div class="col text-center main-text mt-2">
								<h3>VS</h3>
								<div class="row justify-content-center mb-1">
									<h6><%= entry.match_format %></h6>
								</div>
								<a class="row justify-content-center live-button mb-2" href="<%= entry.id %>">Stats</a>
							</div>
							<div class="col text-center main-text team-font">
								<!-- Add color scheme as seen in single match page for if we want to go with that style -->
								<!-- <div style="color: #fc4c7c"></div> -->
								<%= entry.team_two %>
							</div>
							<div class="col team-icons d-flex justify-content-center">
								<img src="<%= entry.team_two_info.logo_url %>" alt="<%= entry.team_two %>" />
							</div>
							<div class="col align-items-center main-text">
								<h6 class="row justify-content-center ms-0 me-0">Start Time:</h6>
								<div class="col flex-text justify-content-center ms-0 me-0"><%= entry.timeUntilStart %></div>
							</div>
						</div>
						<!-- Place holder for Win and Loss -->
						<!-- <div class="row align-items-center">
								<h6 class="col text-success m-0 p-0">W</h6>
								<h6 class="col text-danger m-0 p-0">L</h6>
							</div> -->
					</div>
					<% }); %>
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
		<script src="/javascript/imageReloader.js"></script>
	</body>
</html>
