<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="container">
        <header><%- include('../partials/header'); %></header>

        <main class="main-container">
            <!-- Attempting to display data from db on html page -->
            <div class="container">
                <div class="row">
                    <h6 class="col d-flex text-light"><%= currentDate %></h6>
                </div>
                <!-- Uncomment below code for a Team One and Team Two heading at the top of Teams -->
                <!-- <div class="row">
                    <h6 class="col text-light d-flex start-time justify-content-center m-1">Team One</h6>
                    <h6 class="col text-light d-flex start-time justify-content-center m-1">Team Two</h6>
                </div> -->
                <div class="row mb-1 me-0 gx-3">
                    <% results.forEach(entry=> { %>
                    <!-- <button class="btn btn-block border-bottom border-secondary shadow-lg m-1 matchButton"> -->
                    <div class="container">
                        <!-- Place holder for tournament name -->
                        <!-- <div class="row align-items-center">
								<h6 class="text-light m-0 p-0">Tournament: <%# entry.tournament_name %></h6>
							</div> -->

                        <div class="row align-items-center ms-0 me-0 border-bottom border-secondary">
                            <div class="col team-icons justify-content-center">
                                <img src="<%= entry.team_one_logo %>" alt="<%= entry.team_one %>" />
                            </div>
                            <div class="col text-center text-light">
                                <h6 class="row start-time justify-content-center ms-0 me-0">Team One</h6>
                                <%= entry.team_one %>
                            </div>
                            <div class="col text-center text-light"><h2>VS</h2></div>
                            <div class="col team-icons d-flex justify-content-center">
                                <img src="<%= entry.team_two_logo %>" alt="<%= entry.team_two %>" />
                            </div>
                            <div class="col text-center text-light">
                                <h6 class="row start-time justify-content-center ms-0 me-0">Team Two</h6>
                                <%= entry.team_two %>
                            </div>
                            <div class="col align-items-center text-light">
                                <h6 class="row start-time justify-content-center ms-0 me-0">Start Time:</h6>
                                <div class="col flex-text justify-content-center ms-0 me-0">
                                    <%= entry.timeUntilStart %>
                                </div>
                            </div>
                        </div>
                        <!-- Place holder for Win and Loss -->
                        <!-- <div class="row align-items-center">
								<h6 class="col text-success m-0 p-0">W</h6>
								<h6 class="col text-danger m-0 p-0">L</h6>
							</div> -->
                    </div>
                    <!-- </button> -->

                    <% }); %> <% results.forEach(entry=> { %>
                    <td><%= entry.id %></td>
                    <% }); %>
                </div>
            </div>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
        <script>
            const matchButtons = document.querySelectorAll('.matchButton');
            matchButtons.forEach(function (button) {
                button.addEventListener('mousedown', function () {
                    this.classList.add('clicked');
                });
                button.addEventListener('mouseup', function () {
                    this.classList.remove('clicked');
                });
            });
        </script>
    </body>
</html>
