<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="container">
        <header><%- include('../partials/header'); %></header>

        <main class="main-container">
            <!-- Attempting to display data from db on html page -->
            <div class="container">
                <div class="row mb-1 me-0 gx-3">
                    <% results.forEach(entry=> { %>
                    <button class="btn btn-block border-bottom border-secondary shadow-lg m-1 matchButton">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col team-icons justify-content-center pr-0 pl-0">
                                    <img src="<%= entry.team_one_logo %>" alt="<%= entry.team_one %>" />
                                </div>
                                <div class="col text-center text-light pr-0 pl-0"><%= entry.team_one %></div>
                                <div class="col text-center text-light pr-0 pl-0"><h2>VS</h2></div>
                                <div class="col team-icons d-flex justify-content-center pr-0 pl-0">
                                    <img src="<%= entry.team_two_logo %>" alt="<%= entry.team_two %>" />
                                </div>
                                <div class="col text-center text-light"><%= entry.team_two %></div>
                                <div class="col align-items-center text-light">
                                    <h6 class="row start-time align-items-center">Start Time:</h6>
                                    <div class="col flex-text align-items-center mr-5"><%= entry.startTime %></div>
                                </div>
                            </div>
                        </div>
                    </button>

                    <% }); %> <% results.forEach(entry=> { %>
                    <td><%= entry.id %></td>
                    <% }); %>
                </div>
            </div>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
        <script>
            const matchButtons = document.querySelectorAll('.matchButton');
            matchButtons.forEach(function (button) {
                button.addEventListener('mousedown', function () {
                    this.classList.add('clicked');
                });
                button.addEventListener('mouseup', function () {
                    this.classList.remove('clicked');
                });
            });
        </script>
    </body>
</html>
