<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="container">
        <header><%- include('../partials/header'); %></header>

        <main>
            <!-- Attempting to display data from db on html page -->
            <div class="container">
                <div class="text-center justify-content-center row">
                    <h4>This will be teams</h4>
                    <% results.forEach(entry=> { %>
                    <div class="row text-center justify-content-center">
                        <img class="team-icons" src="<%= entry.team_one_logo %>" alt="<%= entry.team_one %>" />
                        <%= entry.team_one %> VS
                        <img class="team-icons" src="<%= entry.team_two_logo %>" alt="<%= entry.team_two %>" />
                        <%= entry.team_two %>
                        <div class="col">
                            <td><%= entry.startTime %></td>
                        </div>
                    </div>
                    <% }); %> <% results.forEach(entry=> { %>
                    <td><%= entry.id %></td>
                    <% }); %>
                </div>
            </div>
        </main>

        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>
