<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Tech Foul</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/style/match_detail_style.css" />
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
		<script type="text/javascript">
			  window.onload = function () {
			  var chart = new CanvasJS.Chart("chartContainer", {
			    backgroundColor: "#374354",
			    title: {
			      text: "Team ELO Comparison",
			      padding: 8,
			      margin: 20,
			      backgroundColor: "#FFFFE0",
			      borderThickness: 1,
			      cornerRadius: 5,
			      fontWeight: "bold"
			    },
			    legend: {
			      verticalAlign: "top",
			      fontColor: "#666666",
			      fontWeight: "lighter"
			    },
			    axisX: {
			      lineThickness: 1,
			      titleFontColor: "#666666",
			      titleFontWeight: "lighter",
			      gridDashType: "solid",
			      gridThickness: 0.25,
			      gridColor: "black",
			      interval: 1,
			      tickLength: 0,
			      labelFormatter: function (e) {
			        return "";
			      }
			    },
			    axisY: {
			      includeZero: true,
			      lineThickness: 1,
			      gridThickness: 0.25,
			      gridColor: "black",
			      title: "%",
			      titleColor: "#666666",
			      tickLength: 10,
			      titleFontColor: "#666666",
			      titleFontWeight: "lighter",
			      margin: 10,
			      titleFontWeight: "bold",
			      labelFormatter: function (e) {
			        return e.value;
			      },
			      gridDashType: "solid",
			      interval: 10,
			      labelAngle: 30,
			      labelFontColor: "#666666"
			    },
			    data: [{
			      <% team_one.forEach(entry => { %>
			      toolTipContent: "<%= entry.name %>: {y}%",
			        type: "stackedBar100",
			          name: "<%= entry.name %>",
			            showInLegend: true,
			              legendMarkerColor: "#1b70a4",
			                legendMarkerBorderColor: "#009ef2",
			                  legendMarkerBorderThickness: 2,
			                    bevelEnabled: true,
			                      color: "#009ef2",
			                        dataPoints: [
			                          {
			                            y: <%= Math.round((entry.elo_win_pct) * 100) %>,
			                            indexLabel: "<%= entry.name %>",
			                            indexLabelFontWeight: "bold",
			                            indexLabelFontColor: "#666666"
			                          }
			                        ]
			                          <% }); %>
			    }, {
			      <% team_two.forEach(entry => { %>
			                            toolTipContent: "<%= entry.name %>: {y}%",
			                              type: "stackedBar100",
			                                name: "<%= entry.name %>",
			                                  showInLegend: true,
			                                    legendMarkerColor: "#A44869",
			                                      legendMarkerBorderColor: "#FC4C7C",
			                                        legendMarkerBorderThickness: 2,
			                                          bevelEnabled: true,
			                                            color: "#FC4C7C",
			                                              dataPoints: [
			                                                {
			                                                  y: <%= Math.round((entry.elo_win_pct) * 100) %>,
			                                                  indexLabel: "<%= entry.name %>",
			                                                  indexLabelFontWeight: "bold",
			                                                  indexLabelFontColor: "#666666"
			                                                }
			                                              ]
			                                                <% }); %>
			    }]
			  });
			chart.render();
			}
		</script>
	</head>

	<body class="container">
		<header>
			<div id="header-logo"></div>
			<div class="row"><H2 class="d-flex justify-content-center">Tech Foul</H2></div>
		</header>

		<main class="main-container">
			<div class="container-lg">
				<div class="row text-light">
					<h6><%= currentDate %></h6>
					<br />
					<br />
				</div>
				<div class="row">
					<h2 class="d-flex justify-content-center">
						Match Date & Time: <%= (new Date(epoch * 1000)).toLocaleDateString('en-AU', { weekday: 'long', day:
						'numeric', month: 'long', year: 'numeric' }) %>, <%= (new Date(epoch *
						1000)).toISOString().split('T')[1].split('.')[0] %> GMT
					</h2>
				</div>
				<div class="row">
					<div class="col-sm">
						<div class="table-responsive">
							<table class="heading-table table table-dark table-hover">
								<thead>
									<tr>
										<th class="top-label-border border-right">
											<h2 class="d-flex align-items-center justify-content-center" style="color: #0bc37b">Category</h2>
										</th>
										<th class="top-center-label-border">
											<h2 class="team-name-top" style="color: #009ef2">
												<% team_one.forEach(entry=> { %><%= entry.name %><% }); %> &nbsp;
												<div class="team-icon">
													<img src="/images/TF_Logo_2.png" />
												</div>
											</h2>
										</th>
										<th class="top-label-border">
											<h2 class="team-name-top" style="color: #fc4c7c">
												<% team_two.forEach(entry=> { %><%= entry.name %><% }); %> &nbsp;
												<div class="team-icon">
													<img src="/images/TF_Logo_2.png" />
												</div>
											</h2>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="border-right table-dark">Team ID</td>
										<td id="teamOneID"><% team_one.forEach(entry=> { %><%= entry.team_id %><% }); %></td>
										<td id="teamTwoID"><% team_two.forEach(entry=> { %><%= entry.team_id %><% }); %></td>
									</tr>
									<tr>
										<td class="border-right table-dark">ELO</td>
										<td><% team_one.forEach(entry=> { %><%= Math.round((entry.elo_win_pct) * 100) + '%' %><% }); %></td>
										<td class="border-far-right">
											<% team_two.forEach(entry=> { %><%= Math.round((entry.elo_win_pct) * 100) + '%' %><% }); %>
										</td>
									</tr>
									<tr>
										<td class="border-right table-dark">Team Rating</td>
										<td><% team_one.forEach(entry=> { %><%= entry.rating %><% }); %></td>
										<td class="border-far-right"><% team_two.forEach(entry=> { %><%= entry.rating %><% }); %></td>
									</tr>
									<tr>
										<td class="border-right table-dark">Wins</td>
										<td><% team_one.forEach(entry=> { %><%= entry.wins %><% }); %></td>
										<td class="border-far-right"><% team_two.forEach(entry=> { %><%= entry.wins %><% }); %></td>
									</tr>
									<tr>
										<td class="border-right table-dark">Losses</td>
										<td><% team_one.forEach(entry=> { %><%= entry.losses %><% }); %></td>
										<td class="border-far-right"><% team_two.forEach(entry=> { %><%= entry.losses %><% }); %></td>
									</tr>
									<tr>
										<td class="border-right table-dark">Average Match Time</td>
										<td><% team_one.forEach(entry=> { %><%= entry.avg_match_time %><% }); %></td>
										<td class="border-far-right">
											<% team_two.forEach(entry=> { %><%= entry.avg_match_time %><% }); %>
										</td>
									</tr>
									<tr>
										<td class="border-right table-dark">Average Score</td>
										<td><% team_one.forEach(entry=> { %><%= entry.avg_score %><% }); %></td>
										<td class="border-far-right"><% team_two.forEach(entry=> { %><%= entry.avg_score %><% }); %></td>
									</tr>
									<tr>
										<td class="border-right table-dark">First Blood Percentage</td>
										<td><% team_one.forEach(entry=> { %><%= entry.first_blood_pct %><% }); %></td>
										<td class="border-far-right">
											<% team_two.forEach(entry=> { %><%= entry.first_blood_pct %><% }); %>
										</td>
									</tr>
									<tr class="border-end">
										<td class="border-right table-dark">Win/Loss Record</td>
										<td><% team_one.forEach(entry=> { %><%= entry.prev_form %><% }); %></td>
										<td class="border-far-right"><% team_two.forEach(entry=> { %><%= entry.prev_form %><% }); %></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<!--<div class="row">
          <div class="col-sm-6 border-right border-bottom">
            <% team_one.forEach(entry=> { %>
            <h3 class="d-flex justify-content-center">
              <div class="team-name-top"><%= entry.name %> &nbsp;</div>
              <div class="team-icon">
                <img src="/images/TF_Logo_2.png" />
              </div>
            </h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Team ID</td>
                    <td id="teamOneID"><%= entry.team_id %></td>
                  </tr>
                  <tr>
                    <td>ELO</td>
                    <td><%= Math.round((entry.elo_win_pct) * 100) + '%' %></td>
                  </tr>
                  <tr>
                    <td>Team Rating</td>
                    <td><%= entry.rating %></td>
                  </tr>
                  <tr>
                    <td>Wins</td>
                    <td><%= entry.wins %></td>
                  </tr>
                  <tr>
                    <td>Losses</td>
                    <td><%= entry.losses %></td>
                  </tr>
                  <tr>
                    <td>Average Match Time</td>
                    <td><%= entry.avg_match_time %></td>
                  </tr>
                  <tr>
                    <td>Average Score</td>
                    <td><%= entry.avg_score %></td>
                  </tr>
                  <tr>
                    <td>First Blood Percentage</td>
                    <td><%= entry.first_blood_pct %></td>
                  </tr>
                  <tr>
                    <td>Win/Loss Record</td>
                    <td><%= entry.prev_form %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <% }); %>
          </div>
          <div class="col-sm-6 border-left border-bottom">
            <% team_two.forEach(entry=> { %>
            <h3 class="d-flex justify-content-center">
              <div class="team-name-top"><%= entry.name %> &nbsp;</div>
              <div class="team-icon">
                <img src="/images/TF_Logo_2.png" />
              </div>
            </h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Team ID</td>
                    <td id="teamTwoID"><%= entry.team_id %></td>
                  </tr>
                  <tr>
                    <td>ELO</td>
                    <td><%= Math.round((entry.elo_win_pct) * 100) + '%' %></td>
                  </tr>
                  <tr>
                    <td>Team Rating</td>
                    <td><%= entry.rating %></td>
                  </tr>
                  <tr>
                    <td>Wins</td>
                    <td><%= entry.wins %></td>
                  </tr>
                  <tr>
                    <td>Losses</td>
                    <td><%= entry.losses %></td>
                  </tr>
                  <tr>
                    <td>Average Match Time</td>
                    <td><%= entry.avg_match_time %></td>
                  </tr>
                  <tr>
                    <td>Average Score</td>
                    <td><%= entry.avg_score %></td>
                  </tr>
                  <tr>
                    <td>First Blood Percentage</td>
                    <td><%= entry.first_blood_pct %></td>
                  </tr>
                  <tr>
                    <td>Win/Loss Record</td>
                    <td><%= entry.prev_form %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <% }); %>
        </div>
      </div>-->

				<div class="row">
					<div id="chartContainer" style="height: 320px; width: 97%">
						<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
					</div>
				</div>
				<div class="row">
					<h2 class="text-center">Team Elo ratings</h2>
					<div id="chart-wrapper">
						<canvas id="eloChart"></canvas>
						<script src="/javascript/eloChart.js"></script>
					</div>
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
