<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container bg-image" id="body-light">
    <header><%- include('../partials/header'); %></header>

    <!-- Set id to be match-main-light, still not switching around the css. Variables can be found in toggleLightDark.js -->
    <main class="main-container" id="main-light">
        <div class="row border-bottom border-secondary me-0 ms-0">
            <h6 class="col d-flex main-text align-items-end">
                <%= currentDate %>
            </h6>
            <div class="col d-flex justify-content-end">
                <div class="light-mode-text main-text">
                    Light/Dark Mode <input type="checkbox" name="" id="darkmode-toggle" checked />
                </div>
            </div>
        </div>
        <div class="container-lg">
            <div class="row">
                <h2 class="d-flex justify-content-center main-text">
                    Match Date & Time: <%= (new Date(epoch * 1000)).toLocaleDateString('en-AU', { weekday: 'long' ,
                        day: 'numeric' , month: 'long' , year: 'numeric' }) %>, <%= (new Date(epoch *
                            1000)).toISOString().split('T')[1].split('.')[0] %> GMT
                </h2>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="table-responsive">
                        <table class="heading-table table table-dark table-hover">
                            <thead>
                                <tr>
                                    <th class="top-label-border border-right">
                                        <h2 class="d-flex align-items-center justify-content-center"
                                            style="color: #0bc37b">Category</h2>
                                    </th>
                                    <th class="top-center-label-border">
                                        <h2 class="team-name-top" id="team-one-name" style="color: #009ef2">
                                            <% team_one.forEach(entry=> { %><%= entry.name %>
                                                    <% }); %> &nbsp;
                                                        <div class="team-icon">
                                                            <img src="/images/TF_Logo_2.png" />
                                                        </div>
                                        </h2>
                                    </th>
                                    <th class="top-label-border">
                                        <h2 class="team-name-top" id="team-two-name" style="color: #fc4c7c">
                                            <% team_two.forEach(entry=> { %><%= entry.name %>
                                                    <% }); %> &nbsp;
                                                        <div class="team-icon">
                                                            <!-- add <%# entry.team_two_info.logo_url %> once sent from DB -->
                                                            <img src="/images/TF_Logo_2.png" />
                                                        </div>
                                        </h2>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border-right table-dark">Team ID</td>
                                    <td id="teamOneID">
                                        <% team_one.forEach(entry=> { %><%= entry.team_id %>
                                                <% }); %>
                                    </td>
                                    <td id="teamTwoID">
                                        <% team_two.forEach(entry=> { %><%= entry.team_id %>
                                                <% }); %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-right table-dark">ELO</td>
                                    <td id="team-one-elo">
                                        <% team_one.forEach(entry=> { %><%= Math.round((entry.elo_win_pct) * 100) + '%'
                                                %>
                                                <% }); %>
                                    </td>
                                    <td class="border-far-right" id="team-two-elo">
                                        <% team_two.forEach(entry=> { %><%= Math.round((entry.elo_win_pct) * 100) + '%'
                                                %>
                                                <% }); %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-right table-dark">Team Rating</td>
                                    <td>
                                        <% team_one.forEach(entry=> { %><%= entry.rating %>
                                                <% }); %>
                                    </td>
                                    <td class="border-far-right">
                                        <% team_two.forEach(entry=> { %><%= entry.rating %>
                                                <% }); %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-right table-dark">Wins</td>
                                    <td>
                                        <% team_one.forEach(entry=> { %><%= entry.wins %>
                                                <% }); %>
                                    </td>
                                    <td class="border-far-right">
                                        <% team_two.forEach(entry=> { %><%= entry.wins %>
                                                <% }); %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-right table-dark">Losses</td>
                                    <td>
                                        <% team_one.forEach(entry=> { %><%= entry.losses %>
                                                <% }); %>
                                    </td>
                                    <td class="border-far-right">
                                        <% team_two.forEach(entry=> { %><%= entry.losses %>
                                                <% }); %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-right table-dark">Average Match Time</td>
                                    <td>
                                        <% team_one.forEach(entry=> { %><%= entry.avg_match_time %>
                                                <% }); %>
                                    </td>
                                    <td class="border-far-right">
                                        <% team_two.forEach(entry=> { %><%= entry.avg_match_time %>
                                                <% }); %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-right table-dark">Average Score</td>
                                    <td>
                                        <% team_one.forEach(entry=> { %><%= entry.avg_score %>
                                                <% }); %>
                                    </td>
                                    <td class="border-far-right">
                                        <% team_two.forEach(entry=> { %><%= entry.avg_score %>
                                                <% }); %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-right table-dark">First Blood Percentage</td>
                                    <td>
                                        <% team_one.forEach(entry=> { %><%= entry.first_blood_pct %>
                                                <% }); %>
                                    </td>
                                    <td class="border-far-right">
                                        <% team_two.forEach(entry=> { %><%= entry.first_blood_pct %>
                                                <% }); %>
                                    </td>
                                </tr>
                                <tr class="border-end">
                                    <td class="border-right table-dark">Win/Loss Record</td>
                                    <td>
                                        <% team_one.forEach(entry=> { %><%= entry.prev_form %>
                                                <% }); %>
                                    </td>
                                    <td class="border-far-right">
                                        <% team_two.forEach(entry=> { %><%= entry.prev_form %>
                                                <% }); %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row">
                <h2 class="text-center main-text">Team Elo Comparison</h2>
                <div id="chartContainer" style="height: 320px; width: 97%">
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                </div>
            </div>
            <div class="row">
                <h2 class="text-center main-text">Team Elo ratings</h2>
                <div id="chart-wrapper">
                    <canvas id="eloChart"></canvas>
                    <script src="/javascript/eloChart.js"></script>
                </div>
            </div>
        </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>

</html>