<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel='stylesheet', href='/stylesheets/match_detail_style.css')>
</head>


<body class="container">
    <header><%- include('../partials/header'); %></header>
    <main class="main-container">
      <div class="container-fluid">
        <div class="row">
          <div class="row border-between">
            <div class="col-sm-6">
              <% team_one.forEach(entry=> { %>
              <h2 class="sub-header"><%= entry.name %></h2>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td><%= entry.name %></td>
                    </tr>
                    <tr>
                      <td>Team ID</td>
                      <td><%= entry.team_id %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <% }); %> 
            </div>
            <div class="col-sm-6">
            <% team_two.forEach(entry=> { %>
            <h2 class="sub-header"><%= entry.name %></h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td><%= entry.name %></td>
                  </tr>
                  <tr>
                    <td>Team ID</td>
                    <td><%= entry.team_id %></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>

</html>